<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Color</title>
</head>
<body>

<form action="results" method="post">
    <label>Color</label>
    <select name="color" id="color">
        <option>--Select a color--</option>
        <option id="Red">Red</option>
        <option name="Green">Green</option>
        <option value="Purple">Purple</option>
        <option value="Salmon">Salmon</option>
    </select>
    <button type="submit">Submit</button>
</form>

</body>
</html>