<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Color</title>
</head>
<body>

<form action="results" method="post">
    <label>Color</label>
    <select class="form-control" name="color" id="color">
        <option>--Select a color--</option>
        <repeat group="{{@colors}}" value="{{@color}}">
            <option>{{@color}}</option>
        </repeat>
    </select>
    <button type="submit">Submit</button>
</form>

</body>
</html>